[Unit]
Description=OpenMandriva Lx CLI installer
DefaultDependencies=no
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@%i.service
Conflicts=display-manager.serivce
Before=display-manager.serivce
Before=getty.target
ConditionPathExists=/dev/tty0

[Service]
Type=idle
Restart=always
RestartSec=0
ConditionKernelCommandLine=|cliinstall
ExecStart=/usr/bin/omdv-cli-install.sh
ExecReload=/usr/bin/killall omdv-cli-install.sh
ExecStop=/usr/bin/killall omdv-cli-install.sh
StandardInput=null
StandardOutput=kmsg+console
StandardError=kmsg+console
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
