[Unit]
Description=OpenMandriva Lx CLI installer
DefaultDependencies=no
After=livesys-late.service systemd-user-sessions.service getty@tty1.service plymouth-quit.service
Conflicts=getty@tty1.service
Conflicts=display-manager.serivce
Before=display-manager.serivce


[Service]
Type=simple
ConditionKernelCommandLine=|cliinstall
ExecStart=/usr/bin/omdv-cli-install.sh
ExecReload=/usr/bin/killall omdv-cli-install.sh
ExecStop=/usr/bin/killall omdv-cli-install.sh
StandardInput=null
StandardOutput=kmsg+console
StandardError=kmsg+console
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
